.sub-title {
    border-top: 4px solid #120f0f3d;
    border-bottom: 4px solid #120f0f3d;
    padding-top: 5px;
    padding-bottom: 5px;
}

.margin-top-50{
    margin-top: 50px;
}

.no-padding {
    padding: 0px 0px !important;
}

.responsive-img {
    width: 100%;
    max-width: 234px;
    height: auto;
    max-height: 90%;
}